/*---Colors from GTK theme---*/
@define-color bg @theme_bg_color;
@define-color regular @theme_text_color;
@define-color primary @error_color;
@define-color hover @success_color;

/*---General ---*/
* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-size: 22px;
  padding: 0;
  margin: 0;
}
window#waybar {
  background: transparent;
}

/*---Left part of bar ---*/
.modules-left {
  background: @bg;
  border-radius: 15px;
  color: @regular;
}
#workspaces button {
  background: inherit;
  color: @regular;
  font-weight: 700;
  padding: 0 10px;
}
#workspaces button:hover {
  box-shadow: inherit;
  color: @hover;
  text-shadow: inherit;
}
#workspaces button:first-child {
  padding: 0 10px 0 20px;
}
#workspaces button:last-child {
  padding: 0 20px 0 10px;
}
#workspaces button:only-child {
  padding: 0 20px;
}
#workspaces button.focused {
  color: @primary;
}
#workspaces button.urgent {
  background-color: @primary;
  color: @regular;
}
window#waybar #window {
  padding-right: 20px;
}
window#waybar.empty #window {
  padding-right: unset;
}

/*---Center part of bar ---*/
#clock {
  background-color: @bg;
  border-radius: 15px;
  color: @regular;
  padding: 10px 15px;
}

/*---Right part of bar ---*/
#idle_inhibitor,
#cpu,
#temperature,
#battery {
  background-color: @bg;
  border-radius: 15px;
  color: @regular;
  margin-left: 10px;
  padding: 10px 15px;
}
.modules-right > widget:first-child label {
  margin-left: 0;
} 
#idle_inhibitor.activated {
  color: @primary;
}
#pulseaudio.sink,
#pulseaudio.source {
  background-color: @bg;
  color: @regular;
}
#pulseaudio.sink {
  border-radius: 15px 0 0 15px;
  margin-left: 10px;
  padding-left: 20px;
}
#pulseaudio.source {
  border-radius: 0 15px 15px 0;
  padding: 0 20px 0 10px;
}
#pulseaudio.source:not(.source-muted) {
  color: @primary;
}
/* Battery */
@keyframes blink {
  to {
    background-color: #ffffff;
    color: @regular;
  }
}
#battery.warning:not(.charging) {
  color: @regular;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging:not(.warning):not(.enough){
  color: @regular;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#power_menu {
  background-color: @bg;
  border-radius: 15px;
  color: @regular;
  margin-left: 10px;
}
#custom-shutdown {
  margin: 0;
  padding: 0 20px 0 15px;
}
#power_menu .drawer-child label {
  padding: 0 15px;
}
#power_menu .drawer-child:first-child label {
  padding-left: 20px;
}
#power_menu .drawer-child:last-child label {
  padding-right: 10px;
}
