* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 22px;
    min-height: 0;
}

window#waybar {
    background: #282c34;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "FiraCode Nerd Font";
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: rgb(246, 201, 169);
    border-top: 2px solid rgb(246, 201, 169);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#battery, #clock, #cpu, #idle_inhibitor, #pulseaudio, #temperature {
    margin: 0 0 0 24px;
    padding: 0;
    color: white;
}

#clock {
    margin: 0 5px 0 24px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging:not(.warning):not(.enough){
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
